{% extends "layout.html" %}

{% block styles %}

{% endblock %}

{% block content %}
<section class="section__standard green-light min-75vh">
    <div class="container">
        <h1 class="mb-3 text-center text-white">
            Hello World!
        </h1>
    </div>
</section>

{% endblock %}

{% block scripts %}

{% endblock %} 