<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Hello World!
	</title>
	<link rel="stylesheet" href="css/app.css">
	{% block styles %} {% endblock %}
</head>
<body>
	{% include "partials/header.html" %}

	{% block content %} {% endblock %}

	{% include "partials/footer.html" %}
	<script src="js/app.js"></script>
	{% block scripts %} {% endblock %}
</body>
</html>